.chat-container {
    width:40%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #f9f9f9;
  }
  
  .chat-box {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width:none;
  }
  
  .message {
    margin-bottom: 10px;
    font-size: 1.3rem ;
  }
  
  .message.bot {
    text-align: left;
    border-radius: 10px 10px 10px 0;
    padding: 5px;
    margin: 2px;
    background: black;
    color: white;
    width: max-content;
  }
  
  .message.user {
    margin-left:auto !important;
    border-radius: 10px 10px 0px 10px;
    padding: 5px;
    margin: 2px;
    background:rgb(204, 204, 204);
    color:black;
    width: max-content;
  }
  
  .input-container {
    display: flex;
    padding: 5px;
   
  }
  
  .input-container input {
    flex: 1;
    padding: 2px;
    background:rgb(204, 204, 204);
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 45px;


  }
  
  .input-container button {
    padding: 2px;
    margin: 10px !important;
    width : 50px;
    aspect-ratio: 1/1;
    border:solid black 1px;
    border-radius: 50%;
    background-color:rgb(204, 204, 204) !important ;
    color: black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  